{% extends 'message_sending/base.html' %}
{% load my_tags %}
{% block content %}
<div> <a class="btn btn-primary" href="{% url 'message_sending:message_create' %}" role="button">Создать новое сообщение</a>
                  </div>
{% for object in object_list %}
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <p class="card-text">
                <h3> Заголовок: {{ object.subject }}</h3>
                </p>
                <p class="card-text">
                <h3> Тело письма: {{ object.body }}</h3>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% if user == object.owner %}
                  <a class="btn btn-primary" href="{% url 'message_sending:message_detail' object.pk  %}" role="button">Перейти в карточку сообщения</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
{% endfor %}
{% endblock %}